body{font-family:"Open Sans";}
h1,h2,h3{font-weight:800;}
h1{font-size:68px;margin-bottom:20px;margin-top:0;color:#000;}
h2{margin-top:60px;margin-bottom:30px;}
a{color:#4BB5FC;}
a:hover{text-decoration:none;color:#3173A0;}
.container{padding-top:100px;margin-bottom:220px;}
.bigger{font-size:24px;}
.bio h3{font-weight:normal;}
.bottom{background-image:url("/img/desert.png");background-size:cover;background-attachment:fixed;height:220px;}
.top{background-image:url("/img/desert.png");height:350px;background-repeat:no-repeat;overflow:hidden;height:100%;background-position:-375px 0;}
@media (min-width:768px){.top{background-position:-265px 0;}}@media (min-width:992px){.top{background-position:-100px 0;}}@media (min-width:1200px){.top{background-position:0 0;}}@media (min-width:1500px){.top{background-size:2500px 538px;}}
