div.image-detail(ng-class="{animations: !detailClosed}", ng-hide="detailClosed")
    .images-outer(ng-click="toggleControls()")
        .images-inner.center
            span.vertical-assist
            img.display-image(ng-repeat="image in imageCache", ng-src="{{image.src}}")
    .detail-header.detail-controls(ng-show="showControls")
        a.pull-right.detail-close(href="", ng-click="hide()") &times;
    .nav.nav-left.detail-controls(ng-show="showControls")
        a(href="", ng-click="prior()") &lt;
    .nav.nav-right.detail-controls(ng-show="showControls")
        a(href="", ng-click="next()") &gt;
    .detail-footer.center.detail-controls(ng-show="showControls")
        button.btn
            span.glyphicon.glyphicon-heart
        button.btn
            span.glyphicon.glyphicon-comment
        button.btn
            span.glyphicon.glyphicon-plus
        button.btn
            span.glyphicon.glyphicon-share-alt