!!!
head
    title Muni Stops
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    script(type="text/javascript", src="built/vendor.js")
    script(type="text/javascript", src="application.js")
    link(rel="stylesheet", href="built/vendor.css")
    link(rel="stylesheet", href="styles.css")
body
    .container-fluid
        .row
            .col-xs-12
                h1 Muni Times
                button.btn.btn-primary#reload-all(type="button") Reload All
        div#prediction-wrapper
        .row.add-new
            .col-xs-12
                button.btn.btn-success#add-prediction(type="button") Add Prediction
    script#prediction-template(type="text/template")
        .col-xs-12
            h2 {{route_name}}
            h4 {{direction_name}}
            h4 {{stop_name}}
            {{#if editing}}
            .prediction-config
                select.form-control.route-list
                    option Routes
                    {{#each routes}}
                    <option {{#ifEquals tag ../route}} selected="selected" {{/ifEquals}} value="{{tag}}"> {{tag}} </option>
                    {{/each}}
                {{#if route}}
                select.form-control.direction-list
                    option Directions
                    {{#each directions}}
                    <option {{#ifEquals tag ../direction}} selected="selected" {{/ifEquals}} value="{{tag}}"> {{title}} </option>
                    {{/each}}
                {{/if}}
                {{#if direction}}
                select.form-control.stop-list
                    option Stops
                    {{#each stops}}
                    <option {{#ifEquals stopId ../stop}} selected="selected" {{/ifEquals}} value="{{stopId}}"> {{title}} </option>
                    {{/each}}
                {{/if}}
            {{/if}}
            .predictions
                {{#each predictions}}
                .prediction-time {{time}}
                {{/each}}
            button.btn.btn-danger.prediction-remove(type="button") Delete this
            button.btn.btn-warning.prediction-edit(type="button") Edit
            button.btn.btn-primary.refresh(type="button") Refresh

