
.add-new {
    margin-top: 20px;
    margin-bottom: 40px;
}

select.form-control {
    margin-bottom: 20px;
}

.prediction-config {
    margin-top: 20px;
}

button.btn {
    width: 150px;
}

button.prediction-btn {
    width: 100px
}

button.prediction-btn {
    margin-right: 10px;
    &:last-child {
        margin-right: 0;
    }
}

.predictions {
    font-size: 0;
    margin-bottom: 20px;
}

.stop-exterior {
    overflow: hidden;
}

.stop-interior {
    position: relative;
    left: 0;
}

.prediction-time {
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
    background: #DDD;
    padding: 2px 8px;
    border-radius: 2px;
    margin-bottom: 10px;
}