extends ../_shared/_base

block head
    title Google Sample Excercises

block content
    p.bigger The two prototypes requested:
    h2 
        a(href="album") Photo Gallery
    p Description of my design process for the photo viewer is here.
    h2
        a(href="travel") Navigation
    p Description of my process for the travel app navigation is here.