extends _shared/_base

block head
    title Patrick Conway

block content
    h1 Patrick Conway
    p Hi, I'm Patrick Conway. I'm a developer and CTO at 
        a(href="http://wizzywig.io", target="_blank") WizzyWig, Inc.
    p I'm interested in making extremely rich, easy-to-use web applications that perform quickly and effortlessly. I focus on the user interface development, and do extensive JavaScript work.
    h2 My Portfolio
    p I've made custom, static versions of several web application interfaces that I've developed. Please give them a try:
    div
        h3 
            a(href="portfolio/designly", target="_blank") Designly
        p A drag and drop web page builder. Features full support for text, images, backgrounds, and multiple page sections. Also includes a tutorial for navigating around the tool.
        p 
            em Backbone and Django
    div
        h3
            a(href="portfolio/webcake", target="_blank") WebCake
        p A rich text editor and content organizer. WebCake was designed to make it extremely easy to create web text content. Adding a new page is accomplished by pressing enter inside the list of pages on the left, and content can be richly edited in each page on the right.
        p 
            em Backbone and Rails
    div
        h3
            a(href="portfolio/wizzywig", target="_blank") WizzyWig
        p A drop in library to allow site owners to make rapid changes to their pages. Installs similarly to Google Analytics, and presents an editing interface to end users when they are logged in. This demo version allows you to edit the homepage of this site (changes are not saved).
        p 
            em Backbone and Django